# This .gitignore file for FPC and Lazarus was compiled by CozyUno from various sources

# My project specific folders and files (** IGNORE THESE **)
test_data/
!LoadTestData.bat
bin/
*!BinZip.bat
bin.zip
*.org

# Lazarus backups and unit output folders and files (safe to ignore)
backup/
*.bak
units/

# Windows specific files (safe to ignore)
*.exe
*.dll
*.lib

# Mac OS specific files (safe to ignore)
*.app/
*.dylib
*.a

# Linux/FreeBSD specific files (safe to ignore)
*.so
*.a


# Summary of the file types created by FPC and Lazarus.
# File types usually not added to Version Control System (VCS) like SVN or Git.  (safe to ignore)#

 .lps
# 	Lazarus project settings file. Created by Lazarus for every new project.
 .lrs
# 	Lazarus resource file
.res
# 	Lazarus compiled resource file.
 .compiled
# 	FPC compilation state
 .o
# 	Object file
 .or
# 	Object file
 .ppu
# 	A compiled Unit file
 .res
# 	The result of compiling the rc file (binary)
 .rst
# 	Compiled resource strings. Used for L10n. If you intend to translate an application, this should probably be version controlled.
*.dbg
#   Debugger file


# File types that usually should be added to VCS  (** DO NOT IGNORE **)

#  .pas
#    Pascal source code file
# .pp
#  	Pascal source code file (useful if you want to avoid confusion with Delphi source code files).
# .lfm
#  	Lazarus form source file. Analogous to Delphi's dfm files.
# .lpi
#  	Lazarus project information file. Created by Lazarus for every new project.
# .lpr
#  	Lazarus program (or project) file. The source code of the main program. Analogous to Delphi's dpr project file.
# .rc
#  	A Windows resource file (not binary)
# .ico
#  	The main project icon in Windows icon format
# .manifest
#  	Windows-specific manifest file for themes
